@using TimeTracking.UI.Blazor.Views.Components
@using TimeTracking.Core.Models

<Condition Evaluation="@loading">
    <Match>
        <Spin Size="large" />
    </Match>
    <NotMatch>
            <Table TItem="Resource" DataSource="@ResourceRetrieved">
                <Column @bind-Field="@context.Name" Sortable />
                <Column @bind-Field="@context.EmailAddress" />
                <Column Title="Enabled" Field="@context.Enabled">
                    <Switch @bind-Value="@context.Enabled" Disabled=true></Switch>
                </Column>
                <ActionColumn>
                    <Space>
                        <SpaceItem>
                            <Button OnClick="()=>EditClickedHandler(context)">Edit</Button>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </Table>
    </NotMatch>
</Condition>
